@import "../less/variables.less";
@import "../modules/bootstrap/less/mixins.less";
@import "../less/gradients.less";

.hero-unit {
    .gradient(@pink, darken(@pink, 40%));
    color: @grayDark; 

    .rules {
	.border-radius(6px);
	font-weight: lighter;
	background-color: fade(@white, 65%);
	font-size: @baseFontSize;
	line-height: @baseLineHeight;

	h1 {
	    font-size: @fontSizeLarge;
	}
	img {
	    float: left;
	    margin: 0.5em;
	}
    }
}

