[submodule "modules/curl"]
	path = modules/curl
	url = git://github.com/cujojs/curl.git
[submodule "modules/when"]
	path = modules/when
	url = git://github.com/cujojs/when.git
[submodule "modules/bootstrap"]
	path = modules/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "modules/twig"]
	path = modules/twig
	url = git://github.com/herbalism/twig.git
[submodule "modules/foliage"]
	path = modules/foliage
	url = git://github.com/herbalism/foliage.git
[submodule "modules/papyrus"]
	path = modules/papyrus
	url = git://github.com/herbalism/papyrus.git
[submodule "modules/markdown-js"]
	path = modules/markdown-js
	url = git://github.com/evilstreak/markdown-js.git
[submodule "modules/lodash"]
	path = modules/lodash
	url = git://github.com/bestiejs/lodash.git
[submodule "modules/blossom"]
	path = modules/blossom
	url = git://github.com/herbalism/blossom.git
[submodule "modules/less.js"]
	path = modules/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "modules/phloem"]
	path = modules/phloem
	url = git://github.com/herbalism/phloem.git
[submodule "modules/bootstrap-lightbox"]
	path = modules/bootstrap-lightbox
	url = git://github.com/jbutz/bootstrap-lightbox.git
